<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %msg %d{HH:mm:ss.SSS} %logger{36}%n</pattern>
        </encoder>
    </appender>

    <logger name="com.teacher.uz.my" level="INFO">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <root>
        <appender-ref ref ="consoleAppender"/>
    </root>

</configuration>